<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Vizil</h1>

	<p>
		Vizil was built by <a target="_blank" href="http://github.com/j7isaac">Jaime</a>. A web developer who is inspired to write amazing code.
	</p>
	<br />
	<p>
		Through the guidence of the awesome team at The Firehose Project, he has accelerated his journey in coding.
	</p>
	<p>
		If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
	</p>



	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'Jaime.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Jaime Moreno</h2>
		<br />
		<p>
			Jaime Moreno is an aspiring web developer and coding enthusiast. He currently studies with The Firehose Project. His hobbies include music production and filmmaking.
		</p>
	</div>
	


</div>

<br class="clear" />
<br />
<br />
<br />
<br />